{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="card">
				<div class="card-body mx-auto d-flex flex-column" style="width: 100%;height: 60vh;">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="p-black">Id</th>
                            <th class="p-black">Project name</th>
                            <th class="p-black">Image</th>
                            <th class="p-black">Project date</th>
                            <th class="p-black">Liens</th>
                            <th class="p-black">Description</th>
                            <th class="p-black">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for portfolio in portfolios %}
                        <tr>
                            <td>{{ portfolio.id }}</td>
                            <td>{{ portfolio.title }}</td>
                            <td>{{ portfolio.image }}</td>
                            <td>{{ portfolio.date ? portfolio.date|date('Y-m-d') }}</td>
                            <td>{{ portfolio.link }}</td>
                            <td>{{ portfolio.description|raw }}</td>
                            <td>
                                <a href="{{ path('app_crud_show', {'id': portfolio.id}) }}">show</a>
                                <a href="{{ path('app_crud_edit', {'id': portfolio.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-center p-black" colspan="7">Aucun projet à l'horizon 😶‍🌫️</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
			</div>
			<div class="col-2"></div>
		</div>
        <button class="btn-new" href="{{ path('app_crud_new') }}">Create</button>
	</div>
</div>
{% endblock %}
