{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom du projet</th>
                            <th>Image</th>
                            <th>Date du projet</th>
                            <th>Liens (Website, GitHub, Figma)</th>
                            <th>Description du projet</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for portfolio in portfolios %}
                        <tr>
                            <td>{{ portfolio.id }}</td>
                            <td>{{ portfolio.title }}</td>
                            <td>{{ portfolio.image }}</td>
                            <td>{{ portfolio.date ? portfolio.date|date('Y-m-d') }}</td>
                            <td>{{ portfolio.link }}</td>
                            <td>{{ portfolio.description }}</td>
                            <td>
                                <a href="{{ path('app_crud_show', {'id': portfolio.id}) }}">show</a>
                                <a href="{{ path('app_crud_edit', {'id': portfolio.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-center" colspan="7">Aucun projet à l'horizon 😶‍🌫️</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('app_crud_new') }}" class="text-contour">Nouveau projet</a>
            </div>
        </div>
    </div>
{% endblock %}
